<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Gestión de Categorías</title>
</head>
<body>
    <h1>Gestión de Categorías</h1>

    <!-- Formulario para crear una nueva categoría -->
    <form th:action="@{/categorias/guardar}" th:object="${categoria}" method="post">
        <input type="text" th:field="*{nombre}" placeholder="Nombre de la Categoría"/><br/>
        <button type="submit">Guardar</button>
    </form>

    <!-- Tabla de listado de categorías -->
    <table class="category-display-table">
        <thead>
            <tr>
                <th>Nombre de la Categoría</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="categoria : ${listCategorias}">
                <td th:text="${categoria.nombre}"></td>
                <td>
                    <a th:href="@{/categorias/editar/{id}(id=${categoria.idCategoria})}" class="btn btn-primary">Actualizar</a>
                    <a th:href="@{/categorias/eliminar/{id}(id=${categoria.idCategoria})}" class="btn btn-danger">Eliminar</a>
                </td>
            </tr>
        </tbody>
    </table>
</body>
</html>
