<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="head">
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Tienda</title>
    <link rel="stylesheet" th:href="@{/css/portada.css}" />
    <link rel="stylesheet" th:href="@{/css/styles.css}" />
    <link rel="stylesheet" th:href="@{/css/swiper-bundle.min.css}" />
    <link rel="stylesheet" th:href="@{/css/slider.css}" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" integrity="sha384-PNvf5E+WjOKv3boVZBS9mAmjcbk6O10FLys4W5G4MLkRqfMMS9IahDfL52O6s9WJ" crossorigin="anonymous">
    <link rel="stylesheet" th:href="@{/css/carrusel.css}" />
    <link rel="stylesheet" th:href="@{/css/lightslider.css}" />
    <script th:src="@{/js/jquery.js}"></script>
    <script th:src="@{/js/lightslider.js}"></script>
    <script th:src="@{/js/carrusel.js}"></script>
</head>
</html>
